/* inicio reset */
* {
    list-style: none;
    text-decoration: none !important;
}

/* fin reset */

/* paleta de colores
Rosa: #f5b0a9
Celeste #1ad6d5
Blanco #f4f4f4
Amarillo #fed501
Rojo #ff6042
Negro #0b1015 */

/* fonts */
@font-face {
    font-family: titulo;
    src: url(../fonts/TabernaSans-Black.otf);
}

@font-face {
    font-family: texto;
    src: url(../fonts/TabernaSerif-Regular.otf);
}

/* INICIO CSS INDEX */
/* inicio header */
.video__header {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    padding: 0 !important;
    margin: 0 !important;
}
.header__contenedor__img {
    margin-top: 1rem !important;
    margin-left: 47%;
}
.header__menu__btn {
    width: auto !important;
    margin-top: 2rem !important;
    margin-left: 1rem;
    color: #f4f4f4;
    font-family: titulo !important;
    font-size: x-large !important;
}
.header__menu__btn:hover {
    background-color: #ff6042 !important;
}
/* fin header */
/* inicio main */
.main {
    height: fit-content;
    width: fit-content;
}

.img__index {
    object-fit: cover;
    height: 70vh;
    padding: 0 !important;
    margin: 0 !important;
}
.main__section0 {
    background-color: #0b1015;
    color: #f4f4f4;
}
.main__section1 {
    background-color:#f4f4f4;
}
#lalate {
    font-family: titulo;
}
.main__section__int {
    background-color: #fed501;
    color: #0b1015;
}
.main__section2 {
    background-color:#f5b0a9;
    color:#0b1015;
}
#somos {
    font-family: titulo;
}
.main__section__h2 {
    font-family: Arial, Helvetica, sans-serif;
}
.main__section__p {
    font-family: 'DM Sans', Open sans, Helvetica, Arial;
}
.btn__main {
    background-color: #0b1015 !important;
    color: #f4f4f4 !important;
    font-family: titulo !important;
    margin: 1.2rem;
    border: #0b1015 1rem !important;
}
.btn__main:hover {
    background-color: #f4f4f4 !important;
    color: #0b1015 !important;
}
/* fin main */
/* inicio footer */
footer {
    height: 65vh;
    min-height: 300px;
    background-color: #f4f4f4 #f5b0a9;
}
.footer__ul {
  font-family: titulo;
  color: #0b1015;
}
.footer__bc {
    background-color: #ff6042;
}
.ul__redes {
    font-family: texto;
}
.img__footer {
    min-block-size: 100px;
    max-block-size: 400px;
}
.icono__footer {
    height: 30px;
    width: 30px;
}

/* INICIO CSS CERVEZAS */
/* grilla body */
#body__grid__cervezas {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100vh auto 30vh;
    grid-template-areas: "headerCerveza"
        "mainCerveza"
        "footer";
}

/* INICIO CSS CERVEZAS */
/* inicio header */
.header__cerveza {
    height: 100vh;
    width: 100%;
    background-image: url(../assets/cervezas/header__cervezasok.jpg);
    background-size: cover;
    background-position: center;
}  
.main__cervezas__section1 {
    background-color: #f4f4f4;
}
.main__cervezas__section2 {
    background-color: #ff6042;
    color: #f4f4f4;
}
.main__cervezas__section3 {
    background-color: #fed501;
}
.main__cervezas__section4 {
    background-color:#0b1015;
    color: #f4f4f4;
}
.main__cervezas__section5 {
    background-color:#1ad6d5;
    color:#0b1015;
}
.main__cervezas__section6 {
    background-color: #f5b0a9;
    color: #0b1015;
}
.main__cervezas__section7 {
    background-color:#f4f4f4;
    color:#0b1015;
}
/* FIN CSS CERVEZAS */

/* INICIO CSS EVENTOS */
/* grilla eventos */
#body__grid__eventos {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15vh auto 30vh;
    grid-template-areas: "header"
        "main"
        "footer";
}

headerReducido {
    grid-area: header;
    position: relative;
    background-color: #0b1015;
}

.header__logo__reducido {
    position: absolute;
    left: 49.70%;
    top: 9%;
}

.mainEventos {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "iframe1 iframe1 iframe1 iframe1 iframe1 TXT1 TXT1 TXT1 TXT1"
        "card1 card1 card1 card2 card2 card2 card3 card3 card3"
        "iframe2 iframe2 iframe2 iframe2 iframe2 TXT2 TXT2 TXT2 TXT2";
}

.iframe1 {
    grid-area: iframe1;
    display: flex;
}

.iframe2 {
    grid-area: iframe2;
    display: flex;
}

.video {
    height: 100%;
    width: 100%;
}

#card1 {
    grid-area: card1;
    background-color: #f4f4f4;
}

#card2 {
    grid-area: card2;
    background-color: aliceblue;
}

#card3 {
    grid-area: card3;
    background-color: antiquewhite;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: #0b1015 solid 4px;
}

.img__card {
    display: block;
    object-fit: cover;
    border: #f5b0a9 solid 2px;
    height: 35vh;
    width: 25vw;
    min-height: 200px;
    min-width: 150px;
}

/* FIN CSS EVENTOS */
/* INICIO CSS CARTA */
/* grilla carta */
#body__grid__carta {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15vh auto 30vh;
    grid-template-areas: "header"
        "mainCarta"
        "footer";
}

headerReducido {
    grid-area: header;
}

/* fin grilla carta */
/* grilla main */
.mainCarta {
    grid-area: mainCarta;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "ENCA ENCA ENCA ENCA"
        "IZQ IZQ DER DER"
        "IZQ IZQ DER DER"
        "IZQ IZQ DERABA DERABA";
}

/* fin grilla main */
/* grilla encabezado */
.main__section1__encabezado {
    grid-area: ENCA;
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 79%, rgba(245, 176, 169, 1) 100%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-template-areas: "LOGO H1"
        "LOGO H2";
}

/* fin grilla encabezado */
.mainCarta__encabezado__h1 {
    grid-area: H1;
    font-family: titulo;
    font-size: 6vw;
    color: #f4f4f4
}

.mainCarta__encabezado__h2 {
    grid-area: H2;
    font-family: subtitulo;
    font-size: 4vw;
    color: #f4f4f4;
}

.main__section2__menuizq {
    grid-area: IZQ;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5b0a9;
}

.main__section3__menuder {
    grid-area: DER;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
}

.main__section3__menuderaba {
    grid-area: DERABA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__section__img__logodemarca {
    grid-area: LOGO;
    height: 55vh;
    width: 27vw;
    min-height: 200px;
    min-width: 150px;
}

.img__logo__carta {
    height: 100%;
    width: 100%;
}

.main__h2__carta {
    font-family: subtitulo;
    font-size: 3vw;
}

.main__h3__carta {
    font-family: subtitulo;
    font-size: 1.5vw;
}

.main__h4__carta {
    font-family: texto;
    font-size: medium;
}

/* FIN CSS CARTA */
/* INICIO CSS CONTACTO */
.header__reducido {
    height: 20vh;
    background-color: #0b1015;
}
.form__contacto {
    width: 100%;
}
.contacto__form__btn {
    font-family: texto !important;
}
.contacto__form__btn:hover {
    font-family: texto !important;
    font-size: 1.5rem;
    background-color:#ff6042 !important;
}
.section__texto {
    background-color: #fed501;
}
.section__form {
    background-color:#1ad6d5;
}

/* FIN CSS CONTACTO */
/* INICIO BREAKPOINTS */
@media screen and (max-width: 768px) {

    /* CSS INDEX */
    /* body grid */
    #body__grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 65vh auto 100vh;
        grid-template-areas: "header"
            "main"
            "footer";
    }

    /* grid main*/
    main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 0.5fr 3fr 3fr 3fr 3fr;
        grid-template-areas: "TXT1 TXT1"
            "TXT1 TXT1"
            "IMG1 IMG1"
            "IMG1 IMG1"
            "TXT2 TXT2"
            "TXT2 TXT2"
            "IMG2 IMG2"
            "IMG2 IMG2"
            "H2 H2"
            "INSTA1 INSTA1"
            "INSTA2 INSTA2"
            "INSTA3 INSTA3"
            "INSTA4 INSTA4";
    }

    /* fin grid main */
    /* main_insta */
    .main__section3__insta1 {
        margin: 1.5rem;
        border: 3px solid black;
    }

    .main__section3__insta2 {
        margin: 1.5rem;
        border: 3px solid black;
    }

    .main__section3__insta3 {
        margin: 1.5rem;
        border: 3px solid black;
    }

    .main__section3__insta4 {
        margin: 1.5rem;
        border: 3px solid black;
    }

    /* FIN CSS INDEX */
    /* INICIO CSS CERVEZAS */
    #body__grid__cervezas {
        grid-template-rows: 100vh auto 30vh;
    }

    .mainCerveza {

        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr;
        grid-template-areas: "CER_TXT1"
            "CER_IMG1"
            "CER_TXT2"
            "CER_IMG2"
            "CER_TXT3"
            "CER_IMG3"
            "CER_TXT4"
            "CER_IMG4"
            "CER_TXT5"
            "CER_IMG5"
            "CER_TXT6"
            "CER_IMG6";
    }

    .imgok {
        height: 75vh;
    }

    /* FIN CSS CERVEZAS */
    /* INICIO CSS EVENTOS */
    .mainEventos {
        grid-template-columns: 100%;
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas: "TXT1"
            "iframe1"
            "card1"
            "card2"
            "card3"
            "TXT2"
            "iframe2";
    }

    /* INICIO CSS CARTA */
    .main__section1__encabezado {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "LOGO"
            "LOGO"
            "H1"
            "H2";
    }

    .mainCarta {
        grid-area: mainCarta;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: "ENCA"
            "IZQ"
            "DER"
            "DERABA";
    }

    /* Inicio CSS Contacto */
    .mainContacto {
        grid-area: mainContacto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "TXT"
            "FORM";
    }
}

/* FIN BREAKPOINTS */