* {
  list-style: none;
  text-decoration: none !important; }

/* fonts */
@font-face {
  font-family: titulo;
  src: url(../fonts/TabernaSans-Black.otf); }

@font-face {
  font-family: texto;
  src: url(../fonts/TabernaSans-Regular.otf); }

@font-face {
  font-family: pesado;
  src: url(../fonts/TabernaSans-BlackSh.otf); }

@font-face {
  font-family: cursiva;
  src: url(../fonts/Taberna-Script.otf); }

@font-face {
  font-family: lateria;
  src: url(../fonts/TabernaSerif-Black.otf); }

@font-face {
  font-family: texto_contacto;
  src: url(../fonts/TabernaSerif-Regular.otf); }

/* mapa colores */
/*header__reducido */
/*carrousel page somos */
/* sizes */
/* tipografia */
/* flex*/
/* btn */
/* header */
/* inicio mixin canvas */
/* fin mixin canvas */
/* footer */
/* fin footer */
/* pages */
/* inicio header */
.video__header {
  height: 100vh;
  width: 100vw;
  object-fit: cover; }

.header__contenedor__img {
  margin-left: 48%; }
  .header__contenedor__img .img__logo {
    height: 13vh; }
  .header__contenedor__img .img__logo:hover {
    height: 14vh;
    transition: 0.2s; }

.header__menu__btn {
  width: auto !important;
  color: #f4f4f4;
  margin-left: 1.5vw;
  font-family: titulo !important;
  font-size: medium; }

.header__menu__btn:hover {
  background-color: #ff6042 !important; }

.header__ul__canvas {
  font-family: titulo;
  font-size: xx-large; }

.header__ul__canvas li:hover {
  color: #1ad6d5; }

.redes__canvas {
  height: 100px;
  width: 100%;
  padding-left: 2rem;
  display: flex; }
  .redes__canvas .img__canvas__redes {
    width: 2em; }
  .redes__canvas .img__canvas__redes:hover {
    width: 3em; }

.img__canvas__redes {
  width: 1em; }

/* fin header */
/* inicio main */
.main__section0 {
  background-color: #0b1015;
  color: #f4f4f4;
  letter-spacing: 0.06em;
  font-family: texto; }
  .main__section0 .ver__enlace:hover {
    color: #ff6042; }

.main__section1, .main__section2 {
  background-color: #f4f4f4; }
  .main__section1 .main__section__cont, .main__section2 .main__section__cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .main__section1 .main__section__cont #lalate, .main__section2 .main__section__cont #lalate, .main__section1 .main__section__cont .main__section2 #somos, .main__section2 .main__section__cont #somos {
      font-family: lateria;
      letter-spacing: 0.04em;
      margin-top: 1vh;
      padding-left: 5vh;
      padding-right: 5vh; }
    .main__section1 .main__section__cont .main__section__h2, .main__section2 .main__section__cont .main__section__h2 {
      font-family: Arial, Helvetica, sans-serif;
      letter-spacing: 0.04em;
      margin-top: 1vh;
      padding-left: 5vh;
      padding-right: 5vh; }
    .main__section1 .main__section__cont .main__section__p, .main__section2 .main__section__cont .main__section__p {
      font-family: texto;
      letter-spacing: 0.04em;
      padding-left: 5vh;
      padding-right: 5vh; }
    .main__section1 .main__section__cont .img__index, .main__section2 .main__section__cont .img__index {
      height: 100vh;
      object-fit: cover; }
    .main__section1 .main__section__cont .btn__main, .main__section2 .main__section__cont .btn__main {
      background-color: #0b1015 !important;
      color: #f4f4f4 !important;
      margin: 1.2rem;
      border: #0b1015 1rem !important;
      letter-spacing: 0.06em;
      font-family: texto !important;
      font-size: large;
      margin-left: 5vh;
      margin-right: 5vh; }
    .main__section1 .main__section__cont .btn__main:hover, .main__section2 .main__section__cont .btn__main:hover {
      background-color: #ff6042 !important;
      color: #0b1015 !important;
      transition: 0.2s; }
    .main__section1 .main__section__cont .index__img__section, .main__section2 .main__section__cont .index__img__section {
      height: 20vh;
      object-fit: cover; }

.main__section__int {
  background-color: #fed501;
  color: #0b1015;
  letter-spacing: 0.06em;
  font-family: texto; }
  .main__section__int .ver__enlace:hover {
    color: #ff6042; }

.main__section2 {
  background-color: #f5b0a9; }
  .main__section2 .img__index {
    height: 100vh;
    object-fit: cover; }

/* fin main */
/* inicio footer */
footer {
  height: fit-content;
  min-height: 200px;
  background-color: #0b1015; }
  footer .footer__bc {
    width: fit-content;
    background-image: url(../assets/index/fondo.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    footer .footer__bc .footer__ul {
      padding-right: 1em;
      padding-left: 1em; }
      footer .footer__bc .footer__ul .footer__ul__items {
        font-family: titulo;
        font-size: xx-large;
        color: #0b1015;
        margin: 0;
        padding: 0; }
      footer .footer__bc .footer__ul .footer__ul__items:hover {
        color: #f4f4f4 !important; }
  footer .footer__redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
    footer .footer__redes .footer__redes__ul {
      width: fit-content; }
      footer .footer__redes .footer__redes__ul .footer__redes__ul li {
        margin-top: 1vh; }
      footer .footer__redes .footer__redes__ul .ul__redes {
        font-family: texto;
        font-size: medium;
        color: #f4f4f4;
        margin-left: 1em; }
      footer .footer__redes .footer__redes__ul .icono__footer {
        height: 30px;
        width: 30px; }
      footer .footer__redes .footer__redes__ul .ul__redes:hover {
        font-size: 1.5vw;
        transition: 0.5s; }
  footer .cont__img__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content; }

/* fin footer */
/* inicio header*/
.header__reducido {
  height: 15vh;
  width: 100%;
  align-items: center;
  background-color: transparent;
  background-color: #0b1015;
  justify-content: space-between; }
  .header__reducido .img__logo {
    height: 13vh; }
  .header__reducido .img__logo:hover {
    height: 14vh;
    transition: 0.2s; }
  .header__reducido .img__tienda {
    height: 5vh;
    margin-right: 5vw; }
  .header__reducido .btn__tienda {
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    height: 6vh;
    width: 6vh;
    margin-right: 4vw;
    border: none; }
  .header__reducido .header__menu__btn {
    margin-left: 1vw; }
  .header__reducido .img__canvas__redes {
    width: 1em; }
  .header__reducido .header__menu__btn {
    width: auto !important;
    color: #f4f4f4;
    margin-left: 1.5vw;
    font-family: titulo !important;
    font-size: medium; }
  .header__reducido .header__menu__btn:hover {
    background-color: #ff6042 !important; }
  .header__reducido .header__ul__canvas {
    font-family: titulo;
    font-size: xx-large; }
  .header__reducido .header__ul__canvas li:hover {
    color: #1ad6d5; }
  .header__reducido .redes__canvas {
    height: 100px;
    width: 100%;
    padding-left: 2rem;
    display: flex; }
    .header__reducido .redes__canvas .img__canvas__redes {
      width: 2em; }
    .header__reducido .redes__canvas .img__canvas__redes:hover {
      width: 3em; }
  .header__reducido .img__canvas__redes {
    width: 1em; }
  .header__reducido .btn__tienda {
    background-image: url(../assets/contacto/carrito-de-compras.png); }
  .header__reducido .btn__tienda:hover {
    background-image: url(../assets/contacto/carrito-de-compras_rojo.png); }

/* inicio section main */
.main__carta {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/contacto/background_form.webp);
  background-size: contain; }

.img__container {
  max-height: 100vh; }

.main__carta__h1 {
  font-family: pesado;
  font-size: 6rem; }

.main__carta__h2 {
  font-family: cursiva;
  font-size: 4rem; }

.btn__main__carta {
  background-color: #0b1015 !important;
  color: #f4f4f4 !important;
  margin: 1.2rem;
  border: #0b1015 1rem !important;
  letter-spacing: 0.06em;
  font-family: texto !important;
  font-size: large; }

.btn__main__carta:hover {
  background-color: #ff6042 !important;
  color: #0b1015 !important;
  transition: 0.2s; }

.section__tapas__menu {
  width: 75%; }

.menu__h1 {
  font-family: cursiva; }

.menu__h2 {
  font-family: titulo; }

.menu__h3 {
  font-family: titulo;
  opacity: 75%;
  text-align: center; }

.menu__h4 {
  font-family: titulo; }

.menu__h5 {
  font-family: titulo; }

.menu__h6__tapas, .menu__h6__empanadas, .menu__h6__pizas, .menu__h6__tragos, .menu__h6__meriendas {
  font-family: titulo;
  color: #1ad6d5;
  overflow: hidden !important; }

.menu__h6__empanadas {
  color: #fed501; }

.menu__h6__pizas {
  color: #ff6042; }

.menu__h6__tragos {
  color: #f5b0a9; }

.menu__h6__meriendas {
  color: #fed501; }

.menu__p {
  font-family: texto;
  font-size: 1.2rem;
  padding-left: 3rem;
  padding-left: 3rem; }

/* fin section main */
/* inicio header */
.header__cerveza {
  height: 82vh;
  width: 100%;
  background-image: url(../assets/cervezas/trama.webp);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .header__cerveza .header__reducido {
    height: 15vh;
    width: 100%;
    align-items: center;
    background-color: transparent;
    justify-content: space-between; }
    .header__cerveza .header__reducido .img__logo {
      height: 13vh; }
    .header__cerveza .header__reducido .img__logo:hover {
      height: 14vh;
      transition: 0.2s; }
    .header__cerveza .header__reducido .img__tienda {
      height: 5vh;
      margin-right: 5vw; }
    .header__cerveza .header__reducido .btn__tienda {
      background-color: transparent;
      background-size: contain;
      background-repeat: no-repeat;
      height: 6vh;
      width: 6vh;
      margin-right: 4vw;
      border: none; }
    .header__cerveza .header__reducido .header__menu__btn {
      margin-left: 1vw; }
    .header__cerveza .header__reducido .img__canvas__redes {
      width: 1em; }
    .header__cerveza .header__reducido .header__menu__btn {
      width: auto !important;
      color: #f4f4f4;
      margin-left: 1.5vw;
      font-family: titulo !important;
      font-size: medium; }
    .header__cerveza .header__reducido .header__menu__btn:hover {
      background-color: #ff6042 !important; }
    .header__cerveza .header__reducido .header__ul__canvas {
      font-family: titulo;
      font-size: xx-large; }
    .header__cerveza .header__reducido .header__ul__canvas li:hover {
      color: #1ad6d5; }
    .header__cerveza .header__reducido .redes__canvas {
      height: 100px;
      width: 100%;
      padding-left: 2rem;
      display: flex; }
      .header__cerveza .header__reducido .redes__canvas .img__canvas__redes {
        width: 2em; }
      .header__cerveza .header__reducido .redes__canvas .img__canvas__redes:hover {
        width: 3em; }
    .header__cerveza .header__reducido .img__canvas__redes {
      width: 1em; }
    .header__cerveza .header__reducido .btn__tienda {
      background-image: url(../assets/cervezas/carrito-de-compras_negro.png); }
    .header__cerveza .header__reducido .btn__tienda:hover {
      background-image: url(../assets/contacto/carrito-de-compras_rojo.png); }

/* fin header */
/* inicio main */
.main__somos__section0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: #0b1015; }
  .main__somos__section0 .somos__h1 {
    font-family: titulo;
    font-size: 5vw;
    color: #f4f4f4; }

.carousel {
  padding: 0 !important; }

.carousel_img {
  height: 85vh;
  width: 100%;
  object-fit: cover; }

.carousel-caption {
  height: fit-content;
  width: fit-content; }
  .carousel-caption .carrousel__h5 {
    font-family: lateria;
    font-size: xx-large; }
  .carousel-caption .carrousel__p {
    font-family: texto;
    font-size: medium; }

/* fin main */
/* inicio header */
.header__reducido {
  height: 15vh;
  width: 100%;
  align-items: center;
  background-color: transparent;
  background-color: #0b1015;
  justify-content: space-between; }
  .header__reducido .img__logo {
    height: 13vh; }
  .header__reducido .img__logo:hover {
    height: 14vh;
    transition: 0.2s; }
  .header__reducido .img__tienda {
    height: 5vh;
    margin-right: 5vw; }
  .header__reducido .btn__tienda {
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    height: 6vh;
    width: 6vh;
    margin-right: 4vw;
    border: none; }
  .header__reducido .header__menu__btn {
    margin-left: 1vw; }
  .header__reducido .img__canvas__redes {
    width: 1em; }
  .header__reducido .header__menu__btn {
    width: auto !important;
    color: #f4f4f4;
    margin-left: 1.5vw;
    font-family: titulo !important;
    font-size: medium; }
  .header__reducido .header__menu__btn:hover {
    background-color: #ff6042 !important; }
  .header__reducido .header__ul__canvas {
    font-family: titulo;
    font-size: xx-large; }
  .header__reducido .header__ul__canvas li:hover {
    color: #1ad6d5; }
  .header__reducido .redes__canvas {
    height: 100px;
    width: 100%;
    padding-left: 2rem;
    display: flex; }
    .header__reducido .redes__canvas .img__canvas__redes {
      width: 2em; }
    .header__reducido .redes__canvas .img__canvas__redes:hover {
      width: 3em; }
  .header__reducido .img__canvas__redes {
    width: 1em; }
  .header__reducido .btn__tienda {
    background-image: url(../assets/contacto/carrito-de-compras.png); }
  .header__reducido .btn__tienda:hover {
    background-image: url(../assets/contacto/carrito-de-compras_rojo.png); }

/* fin header */
/* inicio main */
.main__contacto {
  min-height: 80vh; }
  .main__contacto .section__texto {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .main__contacto .contacto__main__titulo {
    font-family: titulo;
    font-size: xx-large;
    justify-self: flex-start; }
  .main__contacto .main__section__h2__contacto {
    font-family: texto_contacto; }
  .main__contacto .main__section__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/contacto/background_form.webp);
    background-size: cover; }
    .main__contacto .main__section__form .container__form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 80%;
      color: #0b1015; }
      .main__contacto .main__section__form .container__form .main__form__label {
        font-family: texto;
        font-size: x-large; }
      .main__contacto .main__section__form .container__form .form__input {
        height: 40px;
        width: 65%;
        background-color: #f4f4f4;
        border-width: 2px; }
      .main__contacto .main__section__form .container__form .form__input:focus {
        height: 45px;
        width: 68%;
        background-color: #f5b0a9; }
      .main__contacto .main__section__form .container__form .form__input__textarea {
        height: 120px;
        width: 65%;
        background-color: #f4f4f4;
        border-width: 2px; }
      .main__contacto .main__section__form .container__form .form__input__textarea:focus {
        height: 130px;
        width: 68%;
        background-color: #f5b0a9; }
      .main__contacto .main__section__form .container__form .btn__form {
        background-color: #0b1015 !important;
        color: #f4f4f4 !important;
        margin: 1.2rem;
        border: #0b1015 1rem !important;
        letter-spacing: 0.06em;
        font-family: texto !important;
        font-size: large;
        border-radius: 9px; }
      .main__contacto .main__section__form .container__form .btn__form:hover {
        background-color: #ff6042 !important;
        color: #0b1015 !important;
        transition: 0.2s; }

/* fin main */
/* inicio header */
.header__somos {
  height: 82vh;
  width: 100%;
  background-image: url(../assets/cervezas/trama.webp);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .header__somos .header__reducido {
    height: 15vh;
    width: 100%;
    align-items: center;
    background-color: transparent;
    justify-content: space-between; }
    .header__somos .header__reducido .img__logo {
      height: 13vh; }
    .header__somos .header__reducido .img__logo:hover {
      height: 14vh;
      transition: 0.2s; }
    .header__somos .header__reducido .img__tienda {
      height: 5vh;
      margin-right: 5vw; }
    .header__somos .header__reducido .btn__tienda {
      background-color: transparent;
      background-size: contain;
      background-repeat: no-repeat;
      height: 6vh;
      width: 6vh;
      margin-right: 4vw;
      border: none; }
    .header__somos .header__reducido .header__menu__btn {
      margin-left: 1vw; }
    .header__somos .header__reducido .img__canvas__redes {
      width: 1em; }
    .header__somos .header__reducido .header__menu__btn {
      width: auto !important;
      color: #f4f4f4;
      margin-left: 1.5vw;
      font-family: titulo !important;
      font-size: medium; }
    .header__somos .header__reducido .header__menu__btn:hover {
      background-color: #ff6042 !important; }
    .header__somos .header__reducido .header__ul__canvas {
      font-family: titulo;
      font-size: xx-large; }
    .header__somos .header__reducido .header__ul__canvas li:hover {
      color: #1ad6d5; }
    .header__somos .header__reducido .redes__canvas {
      height: 100px;
      width: 100%;
      padding-left: 2rem;
      display: flex; }
      .header__somos .header__reducido .redes__canvas .img__canvas__redes {
        width: 2em; }
      .header__somos .header__reducido .redes__canvas .img__canvas__redes:hover {
        width: 3em; }
    .header__somos .header__reducido .img__canvas__redes {
      width: 1em; }
    .header__somos .header__reducido .btn__tienda {
      background-image: url(../assets/cervezas/carrito-de-compras_negro.png); }
    .header__somos .header__reducido .btn__tienda:hover {
      background-image: url(../assets/contacto/carrito-de-compras_rojo.png); }

/* fin header */
/* inicio main */
.main__somos .main__somos__section0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: #0b1015; }
  .main__somos .main__somos__section0 .somos__h1 {
    font-family: titulo;
    font-size: 5vw;
    color: #f4f4f4; }

.main__somos .container__acordeon {
  height: 70vh;
  width: 100%; }
  .main__somos .container__acordeon .gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh; }
  .main__somos .container__acordeon .item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.4s ease; }
    .main__somos .container__acordeon .item:hover {
      flex: 3; }
  .main__somos .container__acordeon .item-1 {
    background-image: url(../assets/somos/nacho.webp); }
  .main__somos .container__acordeon .item-2 {
    background-image: url(../assets/somos/marce.webp); }
  .main__somos .container__acordeon .item-3 {
    background-image: url(../assets/somos/juli.webp); }
  .main__somos .container__acordeon .item-4 {
    background-image: url(../assets/somos/mati.webp); }

.main__somos .main__somos__section1 {
  height: fit-content;
  width: 100%;
  background-color: #f4f4f4;
  color: #0b1015; }
  .main__somos .main__somos__section1 .main__section__titulo {
    font-family: lateria;
    font-size: xx-large; }
  .main__somos .main__somos__section1 .main__section__p {
    font-family: texto;
    letter-spacing: 0.04em; }
  .main__somos .main__somos__section1 .somos__img__section {
    height: 20vh;
    object-fit: cover; }
  .main__somos .main__somos__section1 .img__somos {
    object-fit: cover;
    height: 100vh; }

/* fin main */
/* breakpoints */
/* pantallas chicas */
@media screen and (min-width: 150px) and (max-width: 768px) {
  /* MIXIN HEADER */
  .btn__tienda {
    height: 5vh !important;
    width: 5vh !important; }
  /* FIN MIXIN HEADER */
  /* INICIO CSS INDEX */
  .video__header {
    height: 70vh; }
  .img__logo {
    min-height: 65px;
    min-width: 65px; }
  .img__logo:hover {
    min-height: 69px;
    min-width: 69px;
    transition: 0.2s; }
  .img__index {
    height: 65vh;
    object-fit: cover; }
  .footer__bc {
    width: 100vw !important; }
    .footer__bc .footer__ul__items {
      padding: 0 !important;
      padding-left: 1rem !important; }
  .footer__redes {
    align-items: center !important;
    margin-top: 5vh !important;
    justify-content: center !important; }
  .cont__img__footer {
    width: 100% !important;
    display: flex;
    align-items: center !important; }
    .cont__img__footer .img__footer {
      height: 200px;
      width: 200px; }
  /* FIN CSS INDEX */
  /* INICIO CSS CERVEZA */
  .header__cerveza {
    height: 70vh; }
  /* FIN CSS CERVEZA */
  /* INICIO CSS SOMOS */
  .header__somos {
    height: 70vh !important; }
  .carousel-inner {
    height: 55vh; }
  .somos__h1 {
    font-family: titulo;
    font-size: xx-large !important; }
  .img__somos {
    height: 55vh; }
  /* FIN CSS SOMOS */
  /* INICIO CSS CONTACTO */
  .section__form {
    min-height: 280px; }
  /* FIN CSS CONTACTO */
  /* INICIO CSS CARTA */
  .menu__h4 {
    justify-content: center; }
  .menu__h5 {
    justify-content: center; }
  /* FIN CSS CARTA */ }

/* pantallas grandes */
@media screen and (min-width: 769px) and (max-width: 3000px) {
  /* INICIO CSS INDEX */
  /* inicio header */
  .header__menu__btn {
    font-family: titulo !important;
    font-size: 1.75vw !important; }
  .header__menu__btn:hover {
    background-color: #ff6042 !important; }
  .header__ul__canvas {
    font-family: titulo;
    font-size: 2.1vw !important; }
  /* fin header */
  /* inicio main */
  .main__section0 .ver__enlace {
    font-size: 1.5vw !important; }
  .main__section0 .h4 {
    font-size: 1.2vw !important; }
  .main__section0 .h5 {
    font-size: 1vw !important; }
  .main__section1 #lalate, .main__section2 #lalate, .main__section2 #somos {
    font-size: 4vw !important; }
  .main__section1 .main__section__h2, .main__section2 .main__section__h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw !important; }
  .main__section1 .main__section__p, .main__section2 .main__section__p {
    font-family: texto !important;
    font-size: 1.2vw !important; }
  .main__section1 .btn__main, .main__section2 .btn__main {
    font-family: titulo !important;
    font-size: 1.5vw !important; }
  .main__section__int__p {
    font-size: 1.2vw !important; }
  /* fin main */
  /* incio footer */
  .footer__ul {
    font-family: titulo !important;
    font-size: 1.75vw !important; }
  .ul__redes {
    font-family: texto !important;
    font-size: 1.2vw !important; }
  .ul__redes:hover {
    font-size: 1.5vw !important; }
  .img__footer {
    width: 15vw; }
  /* fin footer */
  /* FIN CSS INDEX */
  /* INICIO CSS SOMOS */
  .img__somos {
    height: 100vh; }
  .main__section__titulo {
    font-size: 3.5vw !important; }
  .main__section__p {
    font-family: texto;
    font-size: 1.2vw !important; }
  /* FIN CSS SOMOS */
  /* INICIO CSS CONTACTO */
  .contacto__main__titulo {
    font-family: titulo;
    font-size: 2.5vw !important; }
  /* INICIO CSS CONTACTO */ }
