/* inicio reset */
* {
    list-style: none;
    text-decoration: none !important;
}

/* fin reset */

/* paleta de colores
Rosa: #f5b0a9
Celeste #1ad6d5
Blanco #f4f4f4
Amarillo #fed501
Rojo #ff6042
Negro #0b1015 */

/* fonts */
@font-face {
    font-family: titulo;
    src: url(../fonts/TabernaSans-Black.otf);
}

@font-face {
    font-family: texto;
    src: url(../fonts/TabernaSerif-Regular.otf);
}
@font-face {
    font-family: pesado;
    src: url(../fonts/TabernaSans-BlackSh.otf);
}
@font-face {
    font-family: cursiva;
    src: url(../fonts/Taberna-Script.otf);
}

/* INICIO CSS INDEX */
/* inicio header */
.video__header {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    padding: 0 !important;
    margin: 0 !important;
}
.header__contenedor__img {
    margin-top: 1rem !important;
    margin-left: 47%;
}
.header__menu__btn {
    width: auto !important;
    margin-top: 2rem !important;
    margin-left: 1rem;
    color: #f4f4f4;
    font-family: titulo !important;
    font-size: x-large !important;
}
.header__menu__btn:hover {
    background-color: #ff6042 !important;
}
/* fin header */
/* inicio main */
.main {
    height: fit-content;
    width: fit-content;
}

.img__index {
    object-fit: cover;
    height: 70vh;
    padding: 0 !important;
    margin: 0 !important;
}
.main__section0 {
    background-color: #0b1015;
    color: #f4f4f4;
}
.main__section1 {
    background-color:#f4f4f4;
}
#lalate {
    font-family: titulo;
}
.main__section__int {
    background-color: #fed501;
    color: #0b1015;
}
.main__section2 {
    background-color:#f5b0a9;
    color:#0b1015;
}
#somos {
    font-family: titulo;
}
.main__section__h2 {
    font-family: Arial, Helvetica, sans-serif;
}
.main__section__p {
    font-family: 'DM Sans', Open sans, Helvetica, Arial;
}
.btn__main {
    background-color: #0b1015 !important;
    color: #f4f4f4 !important;
    font-family: titulo !important;
    margin: 1.2rem;
    border: #0b1015 1rem !important;
}
.btn__main:hover {
    background-color:#ff6042 !important;
    color: #0b1015 !important;
    transition: 0.8s;
    font-size: 1.5rem;
}
/* fin main */
/* inicio footer */
footer {
    height: 65vh;
    min-height: 300px;
    background-color: #f4f4f4 #f5b0a9;
}
.footer__ul {
  font-family: titulo;
  color: #0b1015;
}
.footer__bc {
    background-color: #ff6042;
}
.ul__redes {
    font-family: texto;
}
.ul__redes:hover {
    font-size: 1.7rem;
    transition: 0.5s;
}
.img__footer {
    min-block-size: 100px;
    max-block-size: 400px;
}
.icono__footer {
    height: 30px;
    width: 30px;
}

/* INICIO CSS CERVEZAS */
/* grilla body */
#body__grid__cervezas {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100vh auto 30vh;
    grid-template-areas: "headerCerveza"
        "mainCerveza"
        "footer";
}

/* INICIO CSS CERVEZAS */
/* inicio header */
.header__cerveza {
    height: 100vh;
    width: 100%;
    background-image: url(../assets/cervezas/header__cervezasok.jpg);
    background-size: cover;
    background-position: center;
}  
.main__cervezas__section1 {
    background-color: #f4f4f4;
}
.main__cervezas__section2 {
    background-color: #ff6042;
    color: #f4f4f4;
}
.main__cervezas__section3 {
    background-color: #fed501;
}
.main__cervezas__section4 {
    background-color:#0b1015;
    color: #f4f4f4;
}
.main__cervezas__section5 {
    background-color:#1ad6d5;
    color:#0b1015;
}
.main__cervezas__section6 {
    background-color: #f5b0a9;
    color: #0b1015;
}
.main__cervezas__section7 {
    background-color:#f4f4f4;
    color:#0b1015;
}
/* FIN CSS CERVEZAS */

/* INICIO CSS EVENTOS */
/* grilla eventos */
#body__grid__eventos {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15vh auto 30vh;
    grid-template-areas: "header"
        "main"
        "footer";
}

headerReducido {
    grid-area: header;
    position: relative;
    background-color: #0b1015;
}

.header__logo__reducido {
    position: absolute;
    left: 49.70%;
    top: 9%;
}

.mainEventos {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "iframe1 iframe1 iframe1 iframe1 iframe1 TXT1 TXT1 TXT1 TXT1"
        "card1 card1 card1 card2 card2 card2 card3 card3 card3"
        "iframe2 iframe2 iframe2 iframe2 iframe2 TXT2 TXT2 TXT2 TXT2";
}

.iframe1 {
    grid-area: iframe1;
    display: flex;
}

.iframe2 {
    grid-area: iframe2;
    display: flex;
}

.video {
    height: 100%;
    width: 100%;
}

#card1 {
    grid-area: card1;
    background-color: #f4f4f4;
}

#card2 {
    grid-area: card2;
    background-color: aliceblue;
}

#card3 {
    grid-area: card3;
    background-color: antiquewhite;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: #0b1015 solid 4px;
}

.img__card {
    display: block;
    object-fit: cover;
    border: #f5b0a9 solid 2px;
    height: 35vh;
    width: 25vw;
    min-height: 200px;
    min-width: 150px;
}

/* FIN CSS EVENTOS */
/* INICIO CSS CARTA */
.main__carta {
    height: fit-content;
    width: 100%;
}
.img__container {
   max-height: 100vh;
   max-width: 50% !important;

}
.main__carta__h1 {
    font-size: 6rem !important;
    font-family: pesado;
}
.main__carta__h2 {
    font-size: 4rem;
    font-family: cursiva;   
}
.btn__main__carta {
    background-color: #0b1015 !important;
    color: #f4f4f4 !important;
    font-family: titulo !important;
    margin: 1.2rem;
    border: #0b1015 1rem !important;
}
.btn__main__carta:hover {
    background-color:#ff6042 !important;
    color: #0b1015 !important;
    transition: 0.8s;
    font-size: 2.2rem !important;
}
.btn__carta:hover {
    background-color:#ff6042!important;
    color:#0b1015 !important;
    height: 20%;
    width: 10%;
    transition: 0.8s;
}
.main__carta__menu {
    height: 100vh;
    width: 100%;
    display: none;
    background-color: #1ad6d5;
}
.section__tapas__menu {
    width: 75%;
}
.menu__h1 {
    font-family: cursiva;
}
.menu__h2 {
    font-family: titulo;
} 
.menu__h3 {
    font-family: titulo;
    opacity: 75%;
}
.menu__h4 {
    font-family: titulo;
    max-width: fit-content !important;
}
.menu__h5 {
    font-family: titulo;
    max-width: fit-content !important;
}
.menu__h6 {
    font-family: titulo;
    color: #1ad6d5;
    overflow: hidden !important;
}
.menu__p {
    font-family: texto;
    font-size: 1.2rem;
}

/* FIN CSS CARTA */
/* INICIO CSS CONTACTO */
.header__reducido {
    height: 20vh;
    background-color: #0b1015;
}
.form__contacto {
    width: 100%;
}
.main__section__h1__contacto:hover {
    font-size: 3.1rem;
    transition: 0.8s;
}
.main__section__h2__contacto:hover {
    font-size: 2.1rem;
    transition: 0.8s;
}
.contacto__form__btn {
    font-family: texto !important;
}
.contacto__form__btn:hover {
    font-family: texto !important;
    font-size: 1.5rem;
    background-color:#ff6042 !important;
}
.section__texto {
    background-color: rgba(0, 0, 0, 0);
}
.section__form {
    background-image: url(../assets/contacto/background_form.png);
    background-size: cover;
}

/* FIN CSS CONTACTO */
/* INICIO BREAKPOINTS */
@media screen and (max-width: 768px) {

    /* Inicio CSS Contacto */
    .section__form {
        min-height: 280px;
    }
}

/* FIN BREAKPOINTS */