* {
  list-style: none;
  text-decoration: none !important; }

/* sizes */
/* tipografia */
/* btn */
/* fonts */
@font-face {
  font-family: titulo;
  src: url(../fonts/TabernaSans-Black.otf); }

@font-face {
  font-family: texto;
  src: url(../fonts/TabernaSerif-Regular.otf); }

@font-face {
  font-family: pesado;
  src: url(../fonts/TabernaSans-BlackSh.otf); }

@font-face {
  font-family: cursiva;
  src: url(../fonts/Taberna-Script.otf); }

/* mapa colores */
/* inicio header */
.video__header {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  padding: 0 !important;
  margin: 0 !important; }

.header__contenedor__img {
  margin-top: 1rem !important;
  margin-left: 47%; }

.header__menu__btn {
  width: auto !important;
  margin-top: 2rem !important;
  margin-left: 1rem;
  color: #f4f4f4;
  font-family: titulo !important;
  font-size: medium; }

.header__menu__btn:hover {
  background-color: #ff6042 !important; }

.footer__ul {
  font-family: titulo;
  font-size: xx-large; }

.redes__canvas {
  height: fit-content;
  width: auto;
  padding-left: 2rem; }
  .redes__canvas .img__canvas__redes {
    height: 40px;
    width: 40px;
    margin-left: 3px; }

/* fin header */
/* inicio main */
.main__section0, .main__section__int {
  background-color: #0b1015;
  color: #f4f4f4;
  letter-spacing: 0.04em; }

.main__section1, .main__section2 {
  background-color: #f4f4f4; }
  .main__section1 #lalate, .main__section2 #lalate, .main__section2 #somos {
    font-family: titulo;
    margin-top: 2vh; }
  .main__section1 .main__section__h2, .main__section2 .main__section__h2 {
    letter-spacing: 0.04em;
    margin-top: 3vh; }
  .main__section1 .main__section__p, .main__section2 .main__section__p {
    font-family: "DM Sans", Open sans, Helvetica, Arial;
    letter-spacing: 0.04em; }
  .main__section1 .img__index, .main__section2 .img__index {
    object-fit: cover;
    padding: 0 !important;
    margin: 0 !important; }
  .main__section1 .btn__main, .main__section2 .btn__main {
    background-color: #0b1015 !important;
    color: #f4f4f4 !important;
    margin: 1.2rem;
    border: #0b1015 1rem !important;
    font-family: titulo !important;
    font-size: medium !important; }
  .main__section1 .btn__main:hover, .main__section2 .btn__main:hover {
    background-color: #ff6042 !important;
    color: #0b1015 !important;
    transition: 0.2s;
    font-size: 8vw; }

.main__section__int {
  background-color: #fed501;
  color: #0b1015; }

.main__section2 {
  background-color: #f5b0a9; }

/* fin main */
/* inicio footer */
footer {
  height: 65vh;
  min-height: 300px;
  background-color: #f4f4f4 #f5b0a9; }
  footer .footer__bc {
    background-color: #ff6042; }
    footer .footer__bc .footer__ul {
      font-family: titulo;
      font-size: xx-large;
      color: #0b1015; }
  footer .ul__redes {
    font-family: texto;
    font-size: medium; }
    footer .ul__redes .icono__footer {
      height: 30px;
      width: 30px; }
  footer .ul__redes:hover {
    font-size: 1.5vw;
    transition: 0.5s; }
  footer .img__footer {
    min-block-size: 100px;
    max-block-size: 400px; }

.img__logo:hover {
  height: 90px;
  width: 90px;
  transition: 0.4s; }

.main__carta {
  height: fit-content;
  width: 100%; }

.img__container {
  max-height: 100vh;
  max-width: 50% !important; }

.main__carta__h1 {
  font-size: 6rem !important;
  font-family: pesado; }

.main__carta__h2 {
  font-size: 4rem;
  font-family: cursiva; }

.btn__main__carta {
  background-color: #0b1015 !important;
  color: #f4f4f4 !important;
  margin: 1.2rem;
  border: #0b1015 1rem !important;
  font-family: titulo !important;
  font-size: medium !important; }

.btn__main__carta:hover {
  background-color: #ff6042 !important;
  color: #0b1015 !important;
  transition: 0.3s;
  font-size: 1.9rem !important; }

.main__carta__menu {
  height: 100vh;
  width: 100%;
  display: none;
  background-color: #1ad6d5; }

.section__tapas__menu {
  width: 75%; }

.menu__h1 {
  font-family: cursiva; }

.menu__h2 {
  font-family: titulo; }

.menu__h3 {
  font-family: titulo;
  opacity: 75%;
  text-align: center; }

.menu__h4 {
  font-family: titulo; }

.menu__h5 {
  font-family: titulo; }

.menu__h6 {
  font-family: titulo;
  color: #1ad6d5;
  overflow: hidden !important; }

.menu__p {
  font-family: texto;
  font-size: 1.2rem;
  padding-left: 3rem;
  padding-left: 3rem; }

/* inicio header */
.header__cerveza {
  height: 100vh;
  width: 100%;
  background-image: url(../assets/cervezas/header__cervezasok.webp);
  background-size: cover;
  background-position: center; }

.redes__canvas {
  height: fit-content;
  width: auto;
  padding-left: 2rem; }
  .redes__canvas .img__canvas__redes {
    height: 40px;
    width: 40px;
    margin-left: 3px; }

.main__cervezas__section1 {
  background-color: #f4f4f4; }

.main__cervezas__section2 {
  background-color: #ff6042;
  color: #f4f4f4; }

.main__cervezas__section3 {
  background-color: #fed501; }

.main__cervezas__section4 {
  background-color: #0b1015;
  color: #f4f4f4; }

.main__cervezas__section5 {
  background-color: #1ad6d5;
  color: #0b1015; }

.main__cervezas__section6 {
  background-color: #f5b0a9;
  color: #0b1015; }

.main__cervezas__section7 {
  background-color: #f4f4f4;
  color: #0b1015; }

.header__reducido {
  height: 15vh;
  width: 100%;
  background-color: #0b1015; }

.main__contacto {
  min-height: 80vh; }
  .main__contacto .section__texto {
    background-color: rgba(0, 0, 0, 0); }
    .main__contacto .section__texto .main__section__h2__contacto:hover {
      font-size: 2.1rem;
      transition: 0.8s; }
  .main__contacto .section__form {
    background-image: url(../assets/contacto/background_form.png);
    background-size: cover; }
    .main__contacto .section__form .contacto__form__btn {
      font-family: texto !important; }
      .main__contacto .section__form .contacto__form__btn:hover {
        font-family: texto !important;
        font-size: 1.5rem;
        background-color: #ff6042 !important; }
    .main__contacto .section__form .form__contacto {
      width: 100%; }

.header__somos {
  height: 100vh;
  width: 100%; }
  .header__somos .img__carrousel {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: center; }
  .header__somos .redes__canvas {
    height: fit-content;
    width: auto;
    padding-left: 2rem; }
    .header__somos .redes__canvas .img__canvas__redes {
      height: 40px;
      width: 40px;
      margin-left: 3px; }

.main__somos .main__somos__section1 {
  height: fit-content;
  width: 100%;
  background-color: #ff6042;
  color: #f4f4f4; }
  .main__somos .main__somos__section1 .main__section__titulo {
    font-family: titulo;
    font-size: 3.75vw; }
  .main__somos .main__somos__section1 .main__section__p {
    font-family: "DM Sans", Open sans, Helvetica, Arial;
    letter-spacing: 0.04em; }
  .main__somos .main__somos__section1 .img__somos {
    object-fit: cover; }

.main__somos .main__somos__section2 {
  height: fit-content;
  width: 100%;
  background-color: #f4f4f4; }
  .main__somos .main__somos__section2 .main__section__titulo {
    font-family: titulo;
    font-size: 3.75vw; }
  .main__somos .main__somos__section2 .img__somos {
    height: inherit;
    object-fit: cover; }

/* pantallas chicas */
@media screen and (max-width: 768px) and (min-width: 150px) {
  /* inicio CSS Index */
  .video__header {
    height: 70vh; }
  .img__logo {
    height: 75%;
    width: 75%; }
  .img__index {
    height: 50vh; }
  /* Fin CSS Index */
  /* Inicio CSS Cerveza */
  .header__cerveza {
    height: 70vh; }
  /* Fin CSS Cerveza */
  /* Inicio CSS Somos */
  .header__somos {
    height: 70vh !important; }
  .carousel-inner {
    height: 70vh; }
  .img__somos {
    height: 50vh; }
  /* Inicio CSS Contacto */
  .section__form {
    min-height: 280px; }
  /* Fin CSS Contacto */
  /* Inicio CSS Carta */
  .header__reducido {
    height: 12vh; }
  .img__logo {
    height: 70px;
    width: 70px; }
  .menu__h4 {
    justify-content: center; }
  .menu__h5 {
    justify-content: center; }
  /* Fin CSS Carta */ }

/* pantallas grandes */
@media screen and (min-width: 1200px) {
  /* inicio header */
  .header__menu__btn {
    font-family: titulo !important;
    font-size: 1.75vw !important; }
  .header__menu__btn:hover {
    background-color: #ff6042 !important; }
  /* fin header */
  /* inicio main */
  .main__section0 .ver__enlace, .main__section__int .ver__enlace {
    font-size: 1.5vw !important; }
  .main__section0 .h4, .main__section__int .h4 {
    font-size: 1.2vw !important; }
  .main__section0 .h5, .main__section__int .h5 {
    font-size: 1vw !important; }
  .main__section1 #lalate, .main__section2 #lalate, .main__section2 #somos {
    font-size: 3.75vw !important; }
  .main__section1 .main__section__h2, .main__section2 .main__section__h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.75vw !important; }
  .main__section1 .main__section__p, .main__section2 .main__section__p {
    font-family: "DM Sans", Open sans, Helvetica, Arial !important;
    font-size: 1.2vw !important; }
  .main__section1 .btn__main, .main__section2 .btn__main {
    font-family: titulo !important;
    font-size: 1.5vw !important; }
  .main__section1 .btn__main:hover, .main__section2 .btn__main:hover {
    font-size: 1.6vw !important; }
  /* fin main */
  /* incio footer */
  .footer__ul {
    font-family: titulo !important;
    font-size: 2.5vw !important; }
  .ul__redes {
    font-family: texto !important;
    font-size: 1.2vw !important; }
  .ul__redes:hover {
    font-size: 1.5vw !important; }
  /* fin footer */ }

/* pantallas muy grandes */
@media screen and (max-width: 3000px) and (min-width: 1600px) {
  .footer__ul {
    font-family: titulo !important;
    font-size: 2vw !important; } }
