/* pantallas chicas */
@media screen and (min-width: 150px) and (max-width:768px) {
    /* MIXIN HEADER */
    .btn__tienda {
        height: (($altura__header__reducido)-10vh) !important;
        width: (($altura__header__reducido)-10vh) !important;
    }
    /* FIN MIXIN HEADER */

    /* INICIO CSS INDEX */
    .video__header {
        height: 70vh;
    }
    .img__logo {
        min-height: 65px;
        min-width: 65px;
    }
    .img__logo:hover {
        min-height: 69px;
        min-width: 69px;
        transition: 0.2s;
    }
    .img__index {
        height: 65vh;
        object-fit: cover;
    }
    .footer__bc {
        width: 100vw !important;
    }
    .footer__redes {
        align-items: center !important;
        margin-top: 5vh !important;
    }
    /* FIN CSS INDEX */

    /* INICIO CSS CERVEZA */
    .header__cerveza {
        height: 70vh;
    }
    /* FIN CSS CERVEZA */

    /* INICIO CSS SOMOS */
    .header__somos {
        height: 70vh !important;
    }
    .carousel-inner {
        height: 55vh;
    }
    .somos__h1 { 
        @include tipo (titulo, xx-large!important);
    }
    .img__somos {
        height: 55vh;
    }
    /* FIN CSS SOMOS */

    /* INICIO CSS CONTACTO */
    .section__form {
        min-height: 280px;
    }
    /* FIN CSS CONTACTO */

    /* INICIO CSS CARTA */
    .menu__h4 {
        justify-content: center;
    }
    .menu__h5 {
        justify-content: center;
    }
    /* FIN CSS CARTA */
}

 /* pantallas grandes */
@media screen and (min-width: 769px) and (max-width:3000px) {
    /* INICIO CSS INDEX */
    /* inicio header */
    .header__menu__btn {
        @include tipo (titulo !important, 1.75vw !important);
    }
    .header__menu__btn:hover {
        background-color: #ff6042 !important;
    }
    .header__ul__canvas {
        @include tipo (titulo, 2.1vw !important);
    }
    /* fin header */    
    /* inicio main */
    .main__section0{
        .ver__enlace {
            font-size: 1.5vw !important;
        }
        .h4 {
            font-size: 1.2vw !important;
        }
        .h5 {
            font-size: 1vw !important;
        }
    } 
    .main__section1 {
        #lalate {
            font-size: 4vw !important;
        }
        .main__section__h2 {
            @include tipo ($h2, 2vw !important);
        }
        .main__section__p {
            @include tipo (texto !important, 1.2vw !important);
        }
        .btn__main {
            @include tipo (titulo !important, 1.5vw !important);
        }
    }
    /* fin main */
    /* incio footer */
    .footer__ul {
        @include tipo (titulo !important, 1.75vw !important);
    }
    .ul__redes {
        @include tipo(texto!important, 1.2vw!important);
    }
    .ul__redes:hover {
        font-size: 1.5vw !important;
    }
    .img__footer {
        width: 15vw;
    } 
    /* fin footer */
    /* FIN CSS INDEX */

    /* INICIO CSS SOMOS */
    .img__somos {
        height: 100vh;
    }
    .main__section__titulo {
        font-size: 3.50vw!important;
    }
    .main__section__p {
        @include tipo (texto, 1.2vw !important);
    }
    /* FIN CSS SOMOS */

    /* INICIO CSS CONTACTO */
    .contacto__main__titulo {
        font-family: titulo;
        font-size: 2.5vw !important;
    }
    /* INICIO CSS CONTACTO */  
}

