/* pantallas chicas */
@media screen and (min-width: 150px) and (max-width:768px) {

    /* inicio CSS Index */
    .video__header {
        height: 70vh;
    }
    .img__logo {
        @include size(5vw, 5vw);
        min-height: 65px;
        min-width: 65px;
    }
    .img__logo:hover {
        @include size(6vw, 6vw);
        min-height: 69px;
        min-width: 69px;
        transition: 0.2s;
    }
    .img__index {
        height: 65vh;
        object-fit: cover;
    }
    /* Fin CSS Index */
    /* Inicio CSS Cerveza */
    .header__cerveza {
        height: 70vh;
    }
    /* Fin CSS Cerveza */
    /* Inicio CSS Somos */
    .header__somos {
        height: 70vh !important;
    }
    .carousel-inner {
        height: 70vh;
    }
    .img__somos {
        height: 60vh;
    }
    /* Fin CSS Somos */
    /* Inicio CSS Contacto */
    .section__form {
        min-height: 280px;
    }
    /* Fin CSS Contacto */
    /* Inicio CSS Carta */
    .header__reducido {
        height: 17vh;
    }
    .menu__h4 {
        justify-content: center;
    }
    .menu__h5 {
        justify-content: center;
    }
    /* Fin CSS Carta */
}

 /* pantallas grandes */
@media screen and (min-width: 1200px) and (max-width:3000px) {
    /* inicio _index */
    /* inicio header */
    .img__logo {
        @include size(5vw, 5vw);
    }
    .img__logo:hover {
        @include size(5.2vw, 5.2vw);
        transition: 0.1s;
    }
    .header__menu__btn {
        @include tipo (titulo !important, 1.75vw !important);
    }
    .header__menu__btn:hover {
        background-color: #ff6042 !important;
    }
    .header__ul__canvas {
        @include tipo (titulo, 2.1vw !important);
    }
    /* fin header */    
    /* inicio main */
    .main__section0{
        .ver__enlace {
            font-size: 1.5vw !important;
        }
        .h4 {
            font-size: 1.2vw !important;
        }
        .h5 {
            font-size: 1vw !important;
        }
    } 
    .main__section1 {
        #lalate {
            font-size: 3.75vw !important;
        }
        .main__section__h2 {
            @include tipo ($h2, 2.75vw !important);
        }
        .main__section__p {
            @include tipo ($parrafo!important, 1.2vw !important);
        }
        .btn__main {
            @include tipo (titulo !important, 1.5vw !important);
        }
        .btn__main:hover {
            font-size: 1.6vw !important;
        }
    }
    /* fin main */
    /* incio footer */
    .footer__ul {
        @include tipo (titulo !important, 2.5vw !important);
    }
    .ul__redes {
        @include tipo(texto!important, 1.2vw!important);
    }
    .ul__redes:hover {
        font-size: 1.5vw !important;
    }
    /* fin footer */
    /* fin _index */
    /* inicio CSS Somos */
    .img__somos {
        height: 100vh;
    }
    .main__section__titulo {
        font-size: 3.50vw!important;
    }
    /* Fin CSS Somos */
}

