/* inicio header*/
.header__reducido {
    @include header__reducido;
    background-color: map-get($color, $key: negro);  
    justify-content: space-between;  
    .btn__tienda {
        background-image: url(../assets/contacto/carrito-de-compras.png);
    }
    .btn__tienda:hover {
        background-image: url(../assets/contacto/carrito-de-compras_rojo.png);
    }
}
/* inicio section main */
.main__carta {
    @include size (fit-content, 100%);
    @include flex-row;
    background-image: url(../assets/contacto/background_form.png);
    background-size: contain;
}
.img__container {
   max-height: 100vh;
}
.main__carta__h1 {
    @include tipo (pesado, 6rem);   
}
.main__carta__h2 {
    @include tipo (cursiva, 4rem);   
}
.btn__main__carta {
    @include btn;
}
.btn__main__carta:hover {
    @include btn--hover
}
.section__tapas__menu {
    width: 75%;
}
.menu__h1 {
    font-family: cursiva;
}
.menu__h2 {
    font-family: titulo;
} 
.menu__h3 {
    font-family: titulo;
    opacity: 75%;
    text-align: center;
}
.menu__h4 {
    font-family: titulo;
}
.menu__h5 {
    font-family: titulo;
}
.menu__h6__tapas {
    font-family: titulo;
    color: map-get($map: $color, $key: celeste);
    overflow: hidden !important;
}
.menu__h6__empanadas {
    @extend .menu__h6__tapas;
    color: map-get($map: $color, $key: amarillo);
}
.menu__h6__pizas {
    @extend .menu__h6__tapas;
    color: map-get($map: $color, $key: rojo);
}
.menu__h6__tragos {
    @extend .menu__h6__tapas;
    color: map-get($map: $color, $key: rosa);
}
.menu__h6__meriendas {
    @extend .menu__h6__tapas;
    color: map-get($map: $color, $key: amarillo);
}
.menu__p {
    font-family: texto;
    font-size: 1.2rem;
    padding-left: 3rem;
    padding-left: 3rem;
}
/* fin section main */