/* inicio section main */
.main__carta {
    @include size (fit-content, 100%);
    @include flex-row;
}
.img__container {
   max-height: 100vh;
}
.main__carta__h1 {
    @include tipo (pesado, 6rem);   
}
.main__carta__h2 {
    @include tipo (cursiva, 4rem);   
}
.btn__main__carta {
    @include btn;
}
.btn__main__carta:hover {
    @include btn--hover
}
.section__tapas__menu {
    width: 75%;
}
.menu__h1 {
    font-family: cursiva;
}
.menu__h2 {
    font-family: titulo;
} 
.menu__h3 {
    font-family: titulo;
    opacity: 75%;
    text-align: center;
}
.menu__h4 {
    font-family: titulo;
}
.menu__h5 {
    font-family: titulo;
}
.menu__h6 {
    font-family: titulo;
    color: #1ad6d5;
    overflow: hidden !important;
}
.menu__p {
    font-family: texto;
    font-size: 1.2rem;
    padding-left: 3rem;
    padding-left: 3rem;
}
/* fin section main */