/* inicio header */
.header__cerveza {
    @include size(82vh, 100%);
    background-image: url(../assets/cervezas/trama.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    .header__reducido {
        @include header__reducido;
        @include canvas;
        justify-content: space-between;  
        .btn__tienda {
            background-image: url(../assets/cervezas/carrito-de-compras_negro.png);
        }
        .btn__tienda:hover {
            background-image: url(../assets/contacto/carrito-de-compras_rojo.png);
        }
    }
}  
/* fin header */
/* inicio main */
.main__somos__section0 {
    @include flex;
    height: 20vh;
    background-color: map-get($map: $color , $key: negro);
    .somos__h1 { 
      @include tipo (titulo, 5vw);
      color: map-get($map: $color, $key: blanco);
      text-align: center;
    }
  }

.section__cerveza__1 {
    position: relative;
    .section__cerveza__1__cont {
        position: absolute;
        @include flex;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .section__cerveza__1__h5 {
            @include tipo (titulo, 2vw);
        }
        .section__cerveza__1__h6 {
            @include tipo (titulo, 2vw);
        }
        .section__cerveza__1__p {
            @include tipo (texto, 2vw);
        }
    }

}  

    

  
/* fin main */