/* inicio header */
.header__cerveza {
    @include size(100vh, 100%);
    background-image: url(../assets/cervezas/header__cervezasok.webp);
    background-size: cover;
    background-position: center;
    .header__reducido {
        @include header__reducido;
    }
}  
.redes__canvas {
    @include size(fit-content, auto);
    padding-left: 2rem;
    .img__canvas__redes {
        @include size(40px, 40px);
        margin-left: 3px;
    }
}
/* fin header */
/* inicio main */
.main__cervezas__section1 {
    background-color: #f4f4f4;
}
.main__cervezas__section2 {
    background-color: #ff6042;
    color: #f4f4f4;
}
.main__cervezas__section3 {
    background-color: #fed501;
}
.main__cervezas__section4 {
    background-color:#0b1015;
    color: #f4f4f4;
}
.main__cervezas__section5 {
    background-color:#1ad6d5;
    color:#0b1015;
}
.main__cervezas__section6 {
    background-color: #f5b0a9;
    color: #0b1015;
}
.main__cervezas__section7 {
    background-color:#f4f4f4;
    color:#0b1015;
}
.cervezas__main__img {
    object-fit: cover;
    height: 85vh !important;
}
/* fin main */