/* inicio header */
.header__cerveza {
    height: 100vh;
    width: 100%;
    background-image: url(../assets/cervezas/header__cervezasok.jpg);
    background-size: cover;
    background-position: center;
}  
.main__cervezas__section1 {
    background-color: #f4f4f4;
}
.main__cervezas__section2 {
    background-color: #ff6042;
    color: #f4f4f4;
}
.main__cervezas__section3 {
    background-color: #fed501;
}
.main__cervezas__section4 {
    background-color:#0b1015;
    color: #f4f4f4;
}
.main__cervezas__section5 {
    background-color:#1ad6d5;
    color:#0b1015;
}
.main__cervezas__section6 {
    background-color: #f5b0a9;
    color: #0b1015;
}
.main__cervezas__section7 {
    background-color:#f4f4f4;
    color:#0b1015;
}