/* inicio header */
.header__cerveza {
    @include size(82vh, 100%);
    background-image: url(../assets/cervezas/trama.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    .header__reducido {
        @include header__reducido;
        justify-content: space-between;  
        .btn__tienda {
            background-image: url(../assets/cervezas/carrito-de-compras_negro.png);
        }
        .btn__tienda:hover {
            background-image: url(../assets/contacto/carrito-de-compras_rojo.png);
        }
    }
}  
.redes__canvas {
    @include size(fit-content, auto);
    padding-left: 2rem;
    .img__canvas__redes {
        @include size(40px, 40px);
        margin-left: 3px;
    }
}
/* fin header */
/* inicio main */
.main__somos__section0 {
    @include flex;
    height: 20vh;
    background-color: map-get($map: $color , $key: negro);
    .somos__h1 { 
      @include tipo (titulo, 5vw);
      color: map-get($map: $color, $key: blanco);
    }
  }

.carousel {
    padding: 0!important;
}
    .carousel_img {
        height: 85vh;
        width: 100%;
        object-fit: cover;
    }
    .carousel-caption {
        @include size (fit-content, fit-content);
        .carrousel__h5 {
            @include tipo (lateria, xx-large);
        }
        .carrousel__p {
            @include tipo (texto, medium);        }
    }
/* fin main */