/* inicio header */
.header__reducido {
    @include size(14vh, 100%);
    background-color: map-get($color, $key: negro);
}
/* fin header */
/* inicio main */
.main__contacto {
    min-height: 80vh;
    .section__texto{
        background-color: rgba(0, 0, 0, 0);
        @include flex
    }
    .section__form {
        background-image: url(../assets/contacto/background_form.png);
        background-size: cover;
        .contacto__form__btn {
            font-family: texto !important;
            &:hover {
                font-family: texto !important;
                font-size: 1.5rem;
                background-color: map-get($color, $key: rojo) !important;
            }
        }
        .form__contacto {
            width: 100%;
        }
    }
}
/* fin main */




