/* inicio header */
.video__header {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}
.header__contenedor__img {
    margin-left: 48%;
    .img__logo {
        height: ($altura__header__reducido)-2vh;
    }
    .img__logo:hover {
    height: (($altura__header__reducido)-2vh)+1vh;
    transition: 0.2s;
    }
}
.header__menu__btn {
    width: auto !important;
    color: #f4f4f4;
    margin-left: 1.5vw;
    @include tipo (titulo !important, medium);
}
.header__menu__btn:hover {
    background-color: #ff6042 !important;
}
.header__ul__canvas {
    @include tipo (titulo, xx-large);
}
.redes__canvas {
    height: fit-content;
    width:auto;
    padding-left: 2rem;
    .img__canvas__redes {
        height: 40px;
        width: 40px;
        margin-left: 3px;
    }
}
/* fin header */
/* inicio main */
.main__section0 {
    background-color: #0b1015;
    color: #f4f4f4;
    letter-spacing: 0.04em;
    
} 
.main__section1 {
    background-color: map-get($map: $color, $key: blanco);
    .main__section__cont {
        @include flex;
        #lalate {
            font-family: lateria;
            letter-spacing: 0.04em;
            margin-top: 1vh;
            padding-left: 5vh;
            padding-right: 5vh;
        }
        .main__section__h2 {
            font-family: $h2;
            letter-spacing: 0.04em;
            margin-top: 1vh;
            padding-left: 5vh;
            padding-right: 5vh;
        }
        .main__section__p {
            font-family: texto;
            letter-spacing: 0.04em;
            padding-left: 5vh;
            padding-right: 5vh;
        }
        .img__index {
            height: 100vh;
            object-fit: cover;
        }
        .btn__main {
            @include btn;  
            margin-left: 5vh;
            margin-right: 5vh;
        }
        .btn__main:hover {
            @include btn--hover;
        } 
        .index__img__section {
            height: 20vh;
            object-fit: cover;
        }   
    }   
}
.main__section__int {
    background-color: #fed501;
    color: #0b1015;    
}
.main__section2 {
    @extend .main__section1;
    .img__index {
        height: 100vh;
        object-fit: cover;
    }
    background-color:map-get($map: $color, $key: rosa);
    #somos {
        @extend #lalate;
    }
}
/* fin main */
/* inicio footer */
footer {
    @include footer;
}
/* fin footer */







