/* inicio header */
.video__header {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    padding: 0 !important;
    margin: 0 !important;
}
.header__contenedor__img {
    margin-top: 1rem !important;
    margin-left: 47%;
}
.header__menu__btn {
    width: auto !important;
    margin-top: 2rem !important;
    margin-left: 1rem;
    color: #f4f4f4;
    @include tipo (titulo !important, medium);
}
.header__menu__btn:hover {
    background-color: #ff6042 !important;
}
.canvas__ul {
    @include tipo (titulo, xx-large);
}
.redes__canvas {
    height: fit-content;
    width:auto;
    padding-left: 2rem;
    .img__canvas__redes {
        height: 40px;
        width: 40px;
        margin-left: 3px;
    }
}

/* fin header */
/* inicio main */
.main__section0 {
    background-color: #0b1015;
    color: #f4f4f4;
    letter-spacing: 0.04em;
} 
.main__section1 {
    background-color:#f4f4f4;
    #lalate {
        font-family: titulo;
        margin-top: 2vh;
    }
    .main__section__h2 {
        letter-spacing: 0.04em;
        margin-top: 3vh
    }
    .main__section__p {
        font-family: $parrafo;
        letter-spacing: 0.04em;
    }
    .img__index {
        object-fit: cover;
        padding: 0 !important;
        margin: 0 !important;
    }
    .btn__main {
        @include btn;    
    }
    .btn__main:hover {
        background-color:#ff6042 !important;
        color: #0b1015 !important;
        transition: 0.2s;
        font-size: 8vw;
    }
}
.main__section__int {
    @extend .main__section0;
    background-color: #fed501;
    color: #0b1015;    
}
.main__section2 {
    @extend .main__section1;
    background-color:#f5b0a9;
    #somos {
        @extend #lalate;
    }
}
/* fin main */
/* inicio footer */
footer {
    height: 65vh;
    min-height: 300px;
    background-color: #f4f4f4 #f5b0a9;
    .footer__bc {
        background-color: #ff6042;
        .footer__ul {
            @include tipo (titulo, xx-large);
            color:#0b1015;
          }
    }
    .ul__redes {
        @include tipo (texto, medium);
        .icono__footer {
            height: 30px;
            width: 30px;
        }
    }
    .ul__redes:hover {
        font-size: 1.5vw;
        transition: 0.5s;
    }
    .img__footer {
        min-block-size: 100px;
        max-block-size: 400px;
    }  
}







