.header__somos {
    @include size(100vh, 100%);
    .img__carrousel {
        @include size(100vh, 100%);
        object-fit:cover;
        object-position: center;
    }   
.redes__canvas {
    @include size(fit-content, auto);
    padding-left: 2rem;
    .img__canvas__redes {
        height: 40px;
        width: 40px;
        margin-left: 3px;
    }
}
}
.main__somos {
    .main__somos__section1 {
        @include size(fit-content, 100%);
        background-color: #ff6042;
        color: #f4f4f4;
        .main__section__titulo {
            @include tipo(titulo, 3.75vw)
        }
        .main__section__p {
            font-family: $parrafo;
            letter-spacing: 0.04em;
        }
        .img__somos {
            object-fit: cover;  
        }
    }
    .main__somos__section2 {
        @include size(fit-content, 100%);
        background-color: #f4f4f4;
        .main__section__titulo {
            @include tipo(titulo, 3.75vw)
        }
        .img__somos {
            height: inherit;
            object-fit: cover;
        }
    }   
}



