.header__somos {
    height: 100vh;
    width: 100%;
}
.img__carrousel {
    @include size(100vh, 100%);
    object-fit:cover;
    object-position: center;
}
.main__somos {
    height: fit-content;
}
.main__somos__section1 {
    height: fit-content;
    width: 100%;
    background-color: #ff6042;
    color: #f4f4f4;
}
.main__somos__section2 {
    height: fit-content;
    width: 100%;
    background-color: #f4f4f4;
}
.main__section__titulo {
    font-family: titulo;
}
.img__somos {
    max-height: 100vh;
    object-fit: cover;  
}
.redes__canvas {
    height: fit-content;
    width:auto;
    padding-left: 2rem;
    .img__canvas__redes {
        height: 40px;
        width: 40px;
        margin-left: 3px;
    }
}