/* fonts */
@font-face {
    font-family: titulo;
    src: url(../fonts/TabernaSans-Black.otf);
}
@font-face {
    font-family: texto;
    src: url(../fonts/TabernaSerif-Regular.otf);
}
@font-face {
    font-family: pesado;
    src: url(../fonts/TabernaSans-BlackSh.otf);
}
@font-face {
    font-family: cursiva;
    src: url(../fonts/Taberna-Script.otf);
}