/* sizes */
@mixin size ($height, $width) {
    height: $height;
    width: $width;   
}
/* tipografia */
@mixin tipo ($font, $size) {
    font-family: $font;
    font-size: $size;
}
/* flex*/
@mixin flex {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
@mixin flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* btn */
@mixin btn {
    background-color: #0b1015 !important;
    color: #f4f4f4 !important;
    margin: 1.2rem;
    border: #0b1015 1rem !important;
    letter-spacing: 0.06em;
    @include tipo (texto !important, large);   
}
@mixin btn--hover {
    background-color:#ff6042 !important;
    color: #0b1015 !important;
    transition: 0.2s;
}
/* header */
@mixin header__reducido {
    @include size($altura__header__reducido, 100%);
    align-items: center;
    background-color: transparent;
    .img__logo {
        height: ($altura__header__reducido)-2vh;
    }
    .img__logo:hover {
        height: (($altura__header__reducido)-2vh)+1vh;
        transition: 0.2s;
    }
    .img__tienda {
        height: ($altura__header__reducido)-10vh;
        margin-right: 5vw;
    }
    .btn__tienda {
        background-color: transparent;
        background-size: contain;
        background-repeat: no-repeat;
        height: ($altura__header__reducido)-9vh;
        width: ($altura__header__reducido)-9vh;
        margin-right: 4vw;
        border: none;
    }
    .header__menu__btn {
        margin-left: 1vw;
    }
    .img__canvas__redes {
        width: 1em;
    }
}

/* inicio mixin canvas */
@mixin canvas {
    .header__menu__btn {
        width: auto !important;
        color: #f4f4f4;
        margin-left: 1.5vw;
        @include tipo (titulo !important, medium);
    }
    .header__menu__btn:hover {
        background-color: #ff6042 !important;
    }
    .header__ul__canvas {
        @include tipo (titulo, xx-large);
    }
    .header__ul__canvas li:hover{
        color: map-get($map: $color, $key: celeste);
    }
    .redes__canvas {
        height: 100px;
        width: 100%;
        padding-left: 2rem;
        display: flex;
        .img__canvas__redes {
            width: 2em;
        }
        .img__canvas__redes:hover {
            width: 3em;
        }
    }
    .img__canvas__redes {
        width: 1em;
    }       
}
/* fin mixin canvas */

/* footer */
@mixin footer {
    height: fit-content;
    min-height: 200px;
    background-color: map-get($map: $color, $key: negro);
    .footer__bc {
        width: fit-content;
        background-image: url(../assets/index/fondo.png);
        background-size: cover;
        background-position: center;
        @include flex;
        .footer__ul {
            padding-right: 1em;
            padding-left: 1em;
            .footer__ul__items{
                @include tipo (titulo, xx-large); 
                color: map-get($map: $color, $key: negro);
                margin: 0;
                padding: 0;
            }
            .footer__ul__items:hover {
                color: map-get($map: $color, $key: blanco) !important;
            }
        }
    }
    .footer__redes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        .footer__redes__ul {
            .footer__redes__ul li {
                margin-top: 1vh;
            }
            width: fit-content;
            .ul__redes {
                @include tipo (texto, medium);
                color: map-get($map: $color, $key: blanco);
                margin-left: 1em;
            }
            .icono__footer {
                @include size(30px, 30px);
            }
            .ul__redes:hover {
                font-size: 1.5vw;
                transition: 0.5s;
            }
        }        
    }
    .cont__img__footer {
        @include flex;
        width: fit-content;
    }  
}
/* fin footer */


