/* fonts */
@font-face {
    font-family: titulo;
    src: url(../fonts/TabernaSans-Black.otf);
}
@font-face {
    font-family: texto;
    src: url(../fonts/TabernaSans-Regular.otf);
}
@font-face {
    font-family: pesado;
    src: url(../fonts/TabernaSans-BlackSh.otf);
}
@font-face {
    font-family: cursiva;
    src: url(../fonts/Taberna-Script.otf);
}
@font-face {
    font-family: lateria;
    src: url(../fonts/TabernaSerif-Black.otf);
}
@font-face {
    font-family: texto_contacto;
    src: url(../fonts/TabernaSerif-Regular.otf);
}

$parrafo: Arial;
$h2: Arial, Helvetica, sans-serif;

/* mapa colores */
$color:(
    rosa: #f5b0a9,
    celeste: #1ad6d5,
    blanco: #f4f4f4,
    blanco_footer: #fff,
    amarillo: #fed501,
    rojo: #ff6042,
    negro: #0b1015,
);

/*header__reducido */
$altura__header__reducido: 15vh;




