/* fonts */
@font-face {
    font-family: titulo;
    src: url(../fonts/TabernaSans-Black.otf);
}
@font-face {
    font-family: texto;
    src: url(../fonts/TabernaSerif-Regular.otf);
}
@font-face {
    font-family: pesado;
    src: url(../fonts/TabernaSans-BlackSh.otf);
}
@font-face {
    font-family: cursiva;
    src: url(../fonts/Taberna-Script.otf);
}

$parrafo: 'DM Sans', Open sans, Helvetica, Arial;
$h2: Arial, Helvetica, sans-serif;


/* mapa colores */
$color:(
    rosa: #f5b0a9,
    celeste: #1ad6d5,
    blanco: #f4f4f4,
    amarillo: #fed501,
    rojo: #ff6042,
    negro: #0b1015,
);

